:root {
  --colums: 4;
  --smaller-screen-colums: 4;
}

.fullPageContainer {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: opacity 0.4s ease;
}

.cards {
  height: 88vh;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(var(--colums), 1fr);
  gap: 24px;
}

.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .player {
    width: 30%;
    opacity: 0.6;
    font-size: 2.5vh;
    transition: all 0.8s ease;
    user-select: none;
    &.choosen {
      opacity: 1;
      font-size: 4vh;
    }
  }

  .cardsAmountButton {
    width: 30%;
    position: relative;
    padding: 1vh 2vh 1vh;
    border: 1px solid black;
    background: none;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-size: 2.6vh;
    cursor: pointer;

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      background-color: rgb(183, 224, 237);
      position: absolute;
      top: 0.5vh;
      left: 0.4vh;
      transition: 0.2s;
      z-index: -1;
    }

    &:hover::after {
      top: 0px;
      left: 0px;
    }
  }
}

.cardsAmountButton + .cardsAmountButton {
  margin-left: 4px;
}

.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(var(--smaller-screen-colums), 1fr);
    gap: 3vh;
  }
  .navbar {
    .player {
      font-size: 1.7vh;
      &.choosen {
        font-size: 2.4vh;
      }
    }
    .cardsAmountButton {
      border: 0.2vh solid black;
    }
  }
}
