
.card{
width: 300px;
height: 300px;
perspective: 600px;
margin: 0 0 5% 0;
}

.card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: 2px black solid;
}

.card .transform {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
 background-image: url("../../assets/Cat-18.svg");
 background-repeat: no-repeat;
}

.back {
  background-color:lightgray;
  color: white;
  transform: rotateY(180deg);
}

