.fireworksContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.fireworksTextContainer {
  z-index: 2;
  margin: auto;
}

.endGameText {
  user-select: none;
  font-size: 60px;
  font-weight: 700;
}

.retryButton {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  font-family: inherit;
  font-size: 40px;
  user-select: none;
  cursor: pointer;
}