.fireworksContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fireworksContainer canvas {
  position: absolute;
  top: 0;
  left: 0;
}


.fireworksText {
  z-index: 2;
}

.endGameText {
  user-select: none;
  font-size: 60px;
  text-align: center;
}

.retryButton {
  border: none;
  background: none;
  cursor: pointer;
  border-bottom: 1px solid black;
  font-family: inherit;
  font-size: 40px;
  user-select: none;
}