@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Kalam', cursive;
}